:root {
	--gap: 1rem;
	--column-number: 9;
}

* {
	border: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	text-align: center;
}

.boxes-container {
	max-width: 1200px;
	margin: auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: var(--gap);
}

.box {
	width: calc(100% / var(--column-number) - var(--gap));
	background-color: aqua;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box::after {
	content: '';
	padding-bottom: 100%;
	display: block;
}

.fizz {
	background-color: blue;
	color: white;
}

.buzz {
	background-color: red;
	color: white;
}

.fizz.buzz,
.fizz-buzz {
	background-color: black;
	color: white;
}